<h1>Music lists</h1>

<h2>FLAC list</h2>
<ul>
  <% @flac_filenames.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<h2>MP3 list</h2>
<ul>
  <% @mp3_filenames.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>
