<h1>Music lists</h1>

<p>Access to <a href="flac">/flac</a> or <a href="mp3">/mp3</a> in order to get your CD data!!</p>

<h2>FLAC list</h2>
<ul>
  <% @flac_list.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<h2>MP3 list</h2>
<ul>
  <% @mp3_list.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>
